.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
}

.pagination .active a {
    background-color: #2563eb;
    color: #fff;
}

.pagination .previous,
.pagination .next {
    margin-right: 0.5rem;
}