@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

::selection {
    background-color: #2463eb;
    color: #fff;
}

::-moz-selection {
    background-color: #2463eb;
    color: #fff;
}